<footer class="main-footer bg-darkgreen"">
    <small>Copyright &copy; 2021 Sistema de Estadísticas (SistRE) </small>
    <div class="float-right d-none d-sm-inline-block">
        <small>Versión 1.0.0</small>
    </div>
</footer>
