
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Acceso Restringido</title>
</head>
<body>
    <div>
        <span>No tiene acceso</span>
    </div>
</body>
</html>

