
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />

<div style="">
    <div class="rounded-pill">
        <h3> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>&nbsp;Usted no tiene permiso a esta opcion</h3>
    </div>
</div>







