
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <br />
    <div style="">
        <div class="alert alert-warning">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>&nbsp;Usted no tiene permisos suficientes para acceder
        </div>
    </div>


