
<div class="options-box" style="float:left;">
    <div class="btn-group btn-group-df float-left" role="group" aria-label="...">
        <button title="Descargar" type="submit" class="btn btn-primary" id="toastrSuccess">Procesar.. <span class="fas fa-save"></span></button>
    </div>

</div>

