<div class="btn-group btn-group-df float-left" role="group" aria-label="...">

    <a title="Descargar" href="@Url.Action("DescagarExcel")" class="btn btn-info">Descargar Excel <span class="fa fa-file-download"></span></a>
    </div>
